@{
    ViewData["Title"] = "Cat Game";
}

<div class="text-center">
    <h1>Cat Game</h1>
    <p>
        This is a test div. [<br />
        <cyberbutton></cyberbutton>
        <br />]
    </p>
    <p>
        <img src="~/lib/gameasset/image/site/title.png" class="gTW"/>
    </p>
    <p class="gTZRG">In order to play the game, please <a asp-controller="Home" asp-action="UnderConstructionError">Log in</a>.</p>

</div>
